In [ ]:
!pip install kaggle

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c accelerometer-biometric-competition

In [ ]:
!unzip "/content/train.csv.zip"

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow
from tensorflow import keras
import scipy as sc

In [ ]:
df = pd.read_csv("/content/train.csv.zip")

In [ ]:
labels = df.iloc[:,4].values
unique_labels=np.unique(labels)

In [ ]:
length = 15000

In [ ]:
data_size=[0 for j in range(len(unique_labels)-1)]
for i in range(len(unique_labels)-1):
  a = unique_labels[i]
  j=0
  while(labels[j]!=a):
    j+=1
  size=0
  while(labels[j]==a):
    size+=1
    j+=1
  data_size[i]=size
  #print(i)
low_sizes=[]
for i in range(len(unique_labels)-1):
  if data_size[i]<=length:
    low_sizes.append(i)
len(low_sizes)

In [ ]:
unique_labels=np.delete(unique_labels,low_sizes) # deleting user datas for less available data

In [ ]:
import time
start_time = time.time()

N_Users=230
k=0
i=0                   # index keeping variable
n=unique_labels[0]           # All m_id in a list
X=[0 for j in range(N_Users)] # Final Array
for m_id in unique_labels[:N_Users]:
    n=unique_labels[0]

    while(n!=m_id):      # Loop for searching the index of first m_id datapoint
        n=df.iloc[i,4]  # Label of i-th index datapoint
        i+=1
    temp=[]
    n=m_id
    for o in range(length):     # Loop For inserting all datapoints of same m_id
        x_y_z = [df.iloc[i,1],df.iloc[i,2],df.iloc[i,3],k]
        temp.append(x_y_z)
        n=df.iloc[i,4]
        i+=1
    X[k]=temp
    #print(k)
    k+=1 #incrementing [Final Array] indices

print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
X_input=[]
for i in range(N_Users):
  temp = X[i]
  X_input += temp
X_input = np.array(X_input)

In [ ]:
new_df = pd.DataFrame(X_input,columns=['X','Y','Z','Label'])
new_df

                X         Y         Z  Label
0        0.340509  8.308413  4.140585    0.0
1        0.381370  8.390134  4.249548    0.0
2        0.272407  8.471856  4.018002    0.0
3        0.149824  8.430995  4.290409    0.0
4        0.272407  8.430995  4.481094    0.0
...           ...       ...       ...    ...
3449995  6.360573  1.495091  7.165300  229.0
3449996  6.322253  1.456771  7.395222  229.0
3449997  6.322253  1.801653  7.280261  229.0
3449998  6.437214  1.993255  7.203620  229.0
3449999  6.360573  1.763333  7.165300  229.0

[3450000 rows x 4 columns]

In [ ]:
new_df.to_csv("/content/230_Users_Acceleromter_Data.csv")